'fileTypes': [
  'ppd'
]
'name': 'PostScript Printer Description'
'scopeName': 'source.ppd'
'firstLineMatch': '^\\*PPD-Adobe: .*$'
'patterns': [
  {
    'include': '#comment'
  }
  {
    'include': '#strings'
  }
  {
    'include': '#control'
  }
  {
    'include': '#entities'
  }
  {
    'include': '#constants'
  }
]

'repository':
  'comment':
    'match': '^\\*%.*$'
    'name': 'comment.block.ppd'
  'strings':
    'patterns': [
      {
        'begin': '"'
        'end': '"'
        'name': 'string.quoted.ppd'
      }
      {
        'begin': '\''
        'end': '\''
        'name': 'string.quoted.ppd'
      }
    ]
  'control':
    'patterns': [
      {
        'begin': '^(\\*)(OpenUI) (\\*)([a-zA-Z0-9\\-]*)(/)?(.*)?(:)(.*)$'
        'beginCaptures':
          '1': 'name': 'punctuation.control.ppd'
          '2': 'name': 'keyword.control.ppd'
          '3': 'name': 'punctuation.definition.entry.ppd'
          '4': 'name': 'entity.name.tag.ppd'
          '5': 'name': 'punctuation.definition.end.ppd'
          '6': 'name': 'string.unquoted.optionname.ppd'
          '7': 'name': 'punctuation.parameters.start.ppd'
          '8':
            'patterns': [
              {
                'include': '#constants'
              }
            ]
        'end': '^(\\*)(CloseUI)(:) ?(\\*)([a-zA-Z0-9\\-]*)$'
        'endCaptures':
          '1': 'name': 'punctuation.control.ppd'
          '2': 'name': 'keyword.control.ppd'
          '3': 'name': 'punctuation.parameters.start.ppd'
          '4': 'name': 'punctuation.definition.entry.ppd'
          '5': 'name': 'entity.name.tag.ppd'
        'name': 'meta.scope.ui-block.ppd'
        'patterns': [
          {
            'match': '^(\\*)(OrderDependency)(:) ?([0-9]*) (ExitServer|Prolog|DocumentSetup|PageSetup|JCLSetup|AnySetup) (\\*)([a-zA-Z0-9\\-]*) ?(\\*)?([a-zA-Z0-9\\-]*)?'
            'captures':
              '1': 'name': 'punctuation.operator.ppd'
              '2': 'name': 'keyword.control.ppd'
              '3': 'name': 'punctuation.operator.ppd'
              '4': 'name': 'constant.numeric.ppd'
              '5': 'name': 'constant.language.section.ppd'
              '6': 'name': 'punctuation.operator.ppd'
              '7': 'name': 'entity.name.tag.ppd'
              '8': 'name': 'punctuation.operator.ppd'
              '9': 'name': 'entity.name.tag.ppd'
          }
          {
            'match': '^(\\*)(Default[a-zA-Z0-9\\-]*)(:) ?(.*)'
            'captures':
              '1': 'name': 'punctuation.operator.ppd'
              '2': 'name': 'keyword.control.ppd'
              '3': 'name': 'punctuation.operator.ppd'
              '4': 'name': 'variable.other.normal.ppd'
          }
          {
            'include': '$self'
          }
        ]
      }
      {
        'begin': '^(\\*)(OpenGroup)(:)(.*)$'
        'beginCaptures':
          '1': 'name': 'punctuation.control.ppd'
          '2': 'name': 'keyword.control.ppd'
          '3': 'name': 'punctuation.parameters.start.ppd'
          '4': 'name': 'string.unquoted.groupname.ppd'
        'end': '^(\\*)(CloseGroup)(:)(.*)$'
        'endCaptures':
          '1': 'name': 'punctuation.control.ppd'
          '2': 'name': 'keyword.control.ppd'
          '3': 'name': 'punctuation.parameters.start.ppd'
          '4': 'name': 'string.unquoted.groupname.ppd'
        'name': 'meta.scope.ui-group.ppd'
        'patterns': [
          {
            'include': '$self'
          }
        ]
      }
      {
        'begin': '^(\\*)(OpenSubGroup)(:)(.*)$'
        'beginCaptures':
          '1': 'name': 'punctuation.control.ppd'
          '2': 'name': 'keyword.control.ppd'
          '3': 'name': 'punctuation.parameters.start.ppd'
          '4': 'name': 'string.unquoted.groupname.ppd'
        'end': '^(\\*)(CloseSubGroup)(:)(.*)$'
        'endCaptures':
          '1': 'name': 'punctuation.control.ppd'
          '2': 'name': 'keyword.control.ppd'
          '3': 'name': 'punctuation.parameters.start.ppd'
          '4': 'name': 'string.unquoted.groupname.ppd'
        'name': 'meta.scope.ui-subgroup.ppd'
        'patterns': [
          {
            'include': '$self'
          }
        ]
      }
    ]
  'entities':
    'patterns': [
      {
        'match': '^(\\*)([a-zA-Z0-9\\-]*)(:)'
        'captures':
          '1': 'name': 'punctuation.operator.ppd'
          '2': 'name': 'entity.name.tag.ppd'
          '3': 'name': 'punctuation.operator.ppd'
      }
      {
        'match': '^(\\*)([a-zA-Z0-9\\-]*) ([a-zA-Z0-9\\-\\_]*)(/)?(.*)?(:)'
        'captures':
          '1': 'name': 'punctuation.operator.ppd'
          '2': 'name': 'entity.name.tag.ppd'
          '3': 'name': 'variable.other.normal.ppd'
          '4': 'name': 'punctuation.operator.ppd'
          '5': 'name': 'string.unquoted.description.ppd'
          '6': 'name': 'punctuation.operator.ppd'
      }
    ]
  'constants':
    'patterns': [
      {
        'match': '\\b(True|true|False|false)\\b'
        'name': 'constant.language.boolean.ppd'
      }
      {
        'match': '\\b(0[xX]\\h(?>_?\\h)*|\\d(?>_?\\d)*(\\.(?![^[:space:][:digit:]])(?>_?\\d)*)?([eE][-+]?\\d(?>_?\\d)*)?|0[bB][01]+)\\b'
        'name': 'constant.numeric.ppd'
      }
      {
        'match': '\\b(None)\\b'
        'name': 'constant.language.none.ppd'
      }
      {
        'match': '\\b(Unknown)\\b'
        'name': 'constant.language.unknown.ppd'
      }
      {
        'match': '\\b(PickOne|PickMany|Boolean)\\b'
        'name': 'constant.language.optiontype.ppd'
      }
    ]
  'structure':
    'patterns': [
      {
        'match': '\\b(PPD-Adobe)\\b'
        'name': 'keyword.declaration.ppd'
      }
    ]
